*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after{
    content:"";
    clear: both;
    display: block;
  }
}
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');

body{
  font-family: 'Amaranth', sans-serif;
}
body,html,#root{
  height: 100%;
}
#root{
  > div{
    height: 100%;
  }
}
.container{
  width: 1280px;
  margin: 0 auto;
}
.world-container {
  position: relative;
  border: 20px solid #663399;
  border-radius: 10px;
}

.tile-map {

}

.tile-map-cell {
  position: absolute;
  width: 120px;
  height: 120px;
}
.block-5{
  text-indent: -9999px;
  background: url('/assets/images/camp.png') no-repeat;
}
.block-6{
  text-indent: -9999px;
  background: url('/assets/images/windmill.png') no-repeat;
}
.block-1 {
  text-indent: -9999px;
  background: url('/assets/images/green-carpet.png') no-repeat;
}
.block-3{
  text-indent: -9999px;
  background: url('/assets/images/lush-forest.png') no-repeat;
}
.block-2 {
  text-indent: -9999px;
  background: url('/assets/images/dense-forest.png') no-repeat;
}

.frog {
  width: 120px;
  height: 120px;
  position: absolute;
  background: green;
}

.snake {
  width: 20px;
  height: 20px;
  position: absolute;
  background: red;
}


.sword-action-wrapper {
  position: relative;
}

.sword-action {
  background: blue;
  position: absolute;
}
