*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after{
    content:"";
    clear: both;
    display: block;
  }
}
.world-container {
  position: relative;
}

.tile-map {

}

.tile-map-cell {
  position: absolute;
  width: 120px;
  height: 120px;
}
.block-5{
  text-indent: -9999px;
  background: url('/assets/images/camp.png') no-repeat;
}
.block-6{
  text-indent: -9999px;
  background: url('/assets/images/windmill.png') no-repeat;
}
.block-1 {
  text-indent: -9999px;
  background: url('/assets/images/green-carpet.png') no-repeat;
}
.block-3{
  text-indent: -9999px;
  background: url('/assets/images/lush-forest.png') no-repeat;
}
.block-2 {
  text-indent: -9999px;
  background: url('/assets/images/dense-forest.png') no-repeat;
}

.frog {
  width: 120px;
  height: 120px;
  position: absolute;
  background: green;
}
