* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');
html {
  background: #009688;
}

body {
  font-family: 'Amaranth', sans-serif;
}

html, #root {
  height: 100%;
}

#root {
  > div {
    height: 100%;
  }
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  color: #582828;
}

.login-container {
  width: 500px;
  margin: 10% auto 0;
  text-align: center;
  background: #f1f1d9;
  border-radius: 10px;
  box-shadow: 0 10px #9d8c7a;
  overflow: hidden;
  padding: 50px 30px;
  height: auto !important;
  color: #582828;

  a{
    text-decoration: none;
    color: #582828;
  }
  h1 {
    margin-bottom: 50px;
  }
}

.hud {
  background: #f1f1d9;
  border-radius: 10px;
  box-shadow: 0 6px #9d8c7a;
  margin: 10px 0 20px;
  display: flex;
  align-items: center;
  &-column {
    padding: 5px 15px;
    font-size: 18px;
    float: left;
    width: 33.33%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  h1 {
    font-size: 28px;
  }
}

.world-container {
  position: relative;
  border: 10px solid #f1f1d9;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px #9d8c7a;
}

.tile-map {
  position: absolute;
}

.tile-map-cell {
  position: absolute;
  width: 120px;
  height: 120px;
}

.block-5 {
  text-indent: -9999px;
  background: url('/assets/images/camp.png') no-repeat;
}

.block-4 {
  text-indent: -9999px;
  background: url('/assets/images/windmill.png') no-repeat;
}

.block-6 {
  text-indent: -9999px;
  background: url('/assets/images/grave.png') no-repeat;
}

.block-7 {
  text-indent: -9999px;
  background: url('/assets/images/rubble.png') no-repeat;
}

.block-8 {
  text-indent: -9999px;
  background: url('/assets/images/rockky.png') no-repeat;
}

.block-9 {
  text-indent: -9999px;
  background: url('/assets/images/rockky.png') no-repeat;
  transform: rotateY(180deg);
}

.block-10 {
  text-indent: -9999px;
  background: url('/assets/images/barn.png') no-repeat;
}

.block-11 {
  text-indent: -9999px;
  background: url('/assets/images/rock-2.png') no-repeat;
}

.block-1 {
  text-indent: -9999px;
  background: url('/assets/images/green-carpet.png') no-repeat;
}

.block-3 {
  text-indent: -9999px;
  background: url('/assets/images/lush-forest.png') no-repeat;
}

.block-2 {
  text-indent: -9999px;
  background: url('/assets/images/dense-forest.png') no-repeat;
}

.frog {
  width: 120px;
  height: 120px;
  position: absolute;
  animation: float 6s infinite forwards;
  &:after {
    height: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.17);
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
  }
}

.snake {
  width: 120px;
  height: 120px;
  position: absolute;
  background-size: 30px 30px !important;
  animation: float 6s infinite forwards;
  &:after {
    height: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.17);
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
  }
}

.sword-action-wrapper {
  position: relative;
}

.sword-action {
  background: blue;
  position: absolute;
}

button {
  font-family: 'Amaranth', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  color: #fff;
  background-color: #42a19b;
  border: none;
  border-radius: 6px;
  box-shadow: 0 6px #006071;
  text-shadow: 0px 3px 2px rgba(150, 150, 150, 1);
  cursor: pointer;
}

.form-row {
  margin-top: 20px;
}

input {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  min-width: 200px;
  padding: 12px 15px;
  border: 3px solid #005f71;
  border-radius: 6px;
  background: #e0e3c4;
  font-size: 24px;
  box-shadow: 0 6px #006071;
  text-align: center;
  &:focus {
    outline: none;
    border: 3px solid #005d70;
  }
}

button:focus {
  outline: none;
}

button:hover,
button.hover {
  background-color: #417cb8;
}

button:active,
button.active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}

.text-center {
  text-align: center;
}

.score {
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  text-align: left;
}

.close-btn {
  width: 10%;
  min-width: auto;
  font-family: 'Amaranth', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  float: right;
  margin-top: -3px;
  padding: 2px 10px 0;
}

.health-bar {
  position: absolute;
  top: 38px;
  height: 22%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #3F51B5;
}

.player-name {
  position: absolute;
  top: -25px;
  white-space: nowrap;
  display: inline-block;
  left: -100%;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-overflow: ellipsis;
  text-align: center;
}

.frog {
  .player-name {
    color: #3f51b5;
    font-weight: 700;
  }
}

.score-board {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 999;
  background: rgba(241, 241, 217, 0.5);
  max-height: 85px;
  overflow-y: auto;
  border-radius: 6px;
  td {
    padding: 2px 10px 2px 5px;
    font-size: 12px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

@keyframes float {
  25%,
  70% {
    transform: translateY(10px);
  }
  50%,
  95% {
    transform: translateY(0px);
  }
}

.alertbox {
  max-width: 300px;
  background: rgba(241, 241, 217, 0.71);
  border-radius: 10px;
  box-shadow: 0 6px #9d8c7a;
  word-wrap: break-word;
  padding: 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.direction {
  //left
  &-1 {
    .sword-action {
      transform: rotate(-90deg);
    }
  }
  //right
  &-2 {
    .sword-action {
      transform: rotate(90deg);
    }
  }
  //down
  &-4 {
    .sword-action {
      transform: rotate(180deg);
    }
  }
}

.game-list {
  list-style: none;
  margin-bottom: 30px;
  li {
    margin-bottom: 10px;
  }
}

#hackbit-vote-widget {
  width: 170px;
  position: absolute;
  top: 90px;
  right: 4px;
}

