.world-container {
  position: relative;
}

.tile-map {

}

.tile-map-cell {
  position: absolute;
  width: 20px;
  height: 20px;
}

.block-1 {
  background: black;
}

.block-2 {
  background: gray;
}

.frog {
  width: 20px;
  height: 20px;
  position: absolute;
  background: green;
}